body {
    height: 2000px;
}

#zero {
    height: 200px;
}

.blur {
    filter: blur(5px);
}

.unblur {

}

.scaleX {
    filter:grayscale(0.5);
}


#animation_event {
    width: 550px;
    height: 100px;
    background: orange;
    position: relative;
    font-size: 20px;

}

@keyframes animation1 {
    from {left: 0px;}
    to {left: 100px;}
  }



/*////////////////////////////////////////////////////////////////////*/
/* drag and drop */

  .droptarget {
    float: left; 
    width: 100px; 
    height: 35px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }